body{ background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%); background-repeat: no-repeat;}
.form_b{border: 3px solid;
    width: 50%;
    display: block;
    margin-left: 340px;
    margin-top: 50px;
}

.bttn{
    margin-bottom: 30px;
    margin-left: 280px;
    margin-top: 10px;
}

